async-timeout==4.0.3
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
dateparser==1.2.0
editdistance==0.8.1
idna==3.7
python-dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.7
regex==2024.5.15
requests==2.32.3
six==1.16.0
soupsieve==2.5
spotipy==2.24.0
tzlocal==5.2
urllib3==2.2.2
wrapt==1.11.2
